{% extends "base.html" %}
{% block cuerpo %}
    <div class="section-normal">
        <li><a href="{% url 'account:logout' %}">Salir</a></li>
        <div class="container">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>TIENDA SOFTLAB</h1>
                <div class="col-lg-8 data">
                    <div class="col-lg-12" style="">
                        <p class="">
                            <i class=""></i> {{ user.email }}
                        </p>
                    </div>
                    <div>
                        {% for usercoin in usercoins %}
                            <ul class="">
                                <li>
                                    <i class="">{{ usercoin.coin_value }} ({{ usercoin.quantity }})</i>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                    <div>
                        <p> STOCK</p>
                        {% for stock in stocks %}
                            <ul class="">
                                <li>
                                    <i class="">{{ stock.space }} : {{ stock.product.name }}
                                        ({{ stock.quantity }}) [{{ stock.product.price }}]</i>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>

                <form action="" method="post" class="form-site col-md-12">
                    {% csrf_token %}
                    <fieldset class="form-group col-md-12">
                        <label for="space">Space </label>
                        {{ form.space }}
                        {% if form.space.errors %}
                            {{ form.space.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                        <label for="five_cent">5 C </label>
                        {{ form.five_cent }}
                        {% if form.five_cent.errors %}
                            {{ form.five_cent.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                        <label for="ten_cent">10 C </label>
                        {{ form.ten_cent }}
                        {% if form.ten_cent.errors %}
                            {{ form.ten_cent.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                        <label for="twenty_cent">20 C </label>
                        {{ form.twenty_cent }}
                        {% if form.twenty_cent.errors %}
                            {{ form.twenty_cent.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                        <label for="fifty_cent">50 C </label>
                        {{ form.fifty_cent }}
                        {% if form.fifty_cent.errors %}
                            {{ form.fifty_cent.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                        <label for="one">1 $</label>
                        {{ form.one }}
                        {% if form.one.errors %}
                            {{ form.one.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                        <label for="two">2 $</label>
                        {{ form.two }}
                        {% if form.two.errors %}
                            {{ form.two.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                        <label for="five">5 $</label>
                        {{ form.five }}
                        {% if form.five.errors %}
                            {{ form.five.errors }}
                        {% endif %}
                    </fieldset>
                    <div class="col-md-12">
                        <input type="submit" value="PAGAR" class="btn btn-primary"/>
                    </div>
                </form>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock cuerpo %}
