<!--Se Cargan los Archivos estaticos-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        {% block titulo %}

        {% endblock titulo %}
    </title>
    {# Cargamos la librería #}
    {% load bootstrap4 %}
    {# CSS Bootstrap #}
    {% bootstrap_css %}
</head>
<body>
{% block cuerpo %}

{% endblock cuerpo %}
</body>
{% block scripts %}

{% endblock %}
</html>