{% extends "base.html" %}
{% block cuerpo %}
    <div class="container">
        <div class="row">
            <div class="container">
                <h2>Ingresa</h2>
            </div>
            <div class="row">
                <div class="col s6 z-depth-5">
                    <form action="" method="post" class="form-site col-lg-12">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="input-field">
                            <label>Nombre de Usuario</label>
                            <input autofocus="autofocus" class="form-control" id="user_username"
                                   name="{{ form.username.name }}"
                                   size="30"
                                   type="text">
                            {% if form.username.errors %}
                                {{ form.username.errors }}
                            {% endif %}
                        </div>
                        <div class="input-field">
                            <label>Contraseña</label>
                            <input autofocus="autofocus" class="form-control" id="user_password"
                                   name="{{ form.password.name }}" size="30"
                                   type="password">
                            {% if form.password.errors %}
                                {{ form.password.errors }}
                            {% endif %}
                        </div>
                        <p>
                            <a href="" class="link">¿Olvidaste tu contraseña?</a><br>
                        </p>
                        <div>
                            <button class="btn btn btn-primary" type="submit" name="action">
                                Ingresar
                            </button>
                            <a class="btn btn-warning" href="{% url 'account:register' %}" role="button">Registrate</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock cuerpo %}