{% extends 'base.html' %}
{% block cuerpo %}
    <div class="section-normal">
        <div class="container">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>Registrarse</h1>
                <form action="" method="post" class="form-site col-lg-12">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <label for="user_username">Username</label>
                        <input autofocus="autofocus" class="form-control" id="user_username" name="username"
                               size="30"
                               type="text">
                        {% if form.username.errors %}
                            {{ form.username.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="user_email">Email (*)</label>
                        <input autofocus="autofocus" class="form-control" id="user_email" name="email" size="30"
                               type="email">
                        {% if form.email.errors %}
                            {{ form.email.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="user_password">Contraseña (*)</label>
                        <input autofocus="autofocus" class="form-control" id="user_password" name="password" size="30"
                               type="password">
                        {% if form.password.errors %}
                            {{ form.password.errors }}
                        {% endif %}
                    </fieldset>
                    <div>
                        <input type="submit" value="Registrarse" class="btn btn btn-primary"/>
                        <a class="btn btn-danger" href="{% url 'account:login' %}" role="button">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}